@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

:root {
  --gray97: #f7f7f7;
  --dark-gray: #a9a9a9;
  --light-gray-shade: #bbbbbb;

  --gray: '#bbbbbb ';
  --pure-red: '#ff0000';
}

body {
  margin: 0;
  font-family: 'Chivo Mono', monospace;
  caret-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: var(--gray97);
}

::-webkit-scrollbar-thumb {
  background: var(--light-gray-shade);
  border: 0.25em solid var(--gray97);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-gray);
}
